@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root{
    --main-color: #050505;
    --secondary-color: #878787;
    --text-color: #E0E0E0;
    --green-color: #75CE54;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);

    font-family: "Geist Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-weight: 400;
}

h1 {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}

h2 {
    font-size: 1.4375rem;
}

p {
    font-size: 0.875rem;
}
